<%- include('../partials/header') %> 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>disciplina</title>
    <link rel="stylesheet" href="/css/disciplinas.css">
</head>
<body>

    <%- include('../partials/navbar') %>

    <h1>Minhas disciplinas!</h1>
    
 <div class="divisao">
    
    <div class="andamento box-disciplina">
        <h2>Em andamento!</h2>
        <ul>
            <% for (let i = 0; i < disciplinas_em_curso.length; i++) { %>
                <li><%= disciplinas_em_curso[i] %></li>
            <% } %>
        </ul>
    </div>

    <div class="concluidas box-disciplina">
        <h2>Concluídas!</h2>
        <ul>
            <% for (let i = 0; i < disciplinas_concluidas.length; i++) { %>
                <li><%= disciplinas_concluidas[i] %></li> 
            <% } %>
        </ul>
    </div>
</div>

<form action="/disciplinas" method="POST">
  <input type="text" name="novaDisciplina" placeholder="Nova disciplina" required>
  <select name="tipo">
    <option value="curso">Em andamento</option>
    <option value="concluida">Concluída</option>
  </select>
  <button type="submit">Adicionar</button>
</form>

</body>
</html>