<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<link rel="stylesheet" href="/css/style.css">
<main class="home">
  <h1>Bem-vindo ao meu Portfólio Acadêmico!</h1>
  <div class="texto-intro">
    <p>Me chamo Gabriel Kodato, sou estudante de programação, aqui estão meus projetos e aprendizados.</p>
    <img src="/img/portfolio images.png" alt="Foto perfil">
  </div>
</main>
