<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<main class="home">
  <h1>Bem-vindo ao meu Portfólio Acadêmico!</h1>
  <p>Sou estudante de Desenvolvimento Web e aqui estão meus projetos e aprendizados.</p>
</main>
